.double-img-container {
    display: flex;
    height: 100%;
    opacity: 0;
    position: relative;
    transition: opacity .4s ease-in-out;

    &.visible {
        opacity: 1;
    }
    > div {
        height: 100%;
        overflow: hidden;
        position: relative;
        > img {
            bottom: 0;
            height: auto;
            pointer-events: none;
            position: absolute;
        }
    }
    .first-img-container {
        width: var(--first-div-width);

        img {
            left: 0;
        }
    }
    .second-img-container {
        width: var(--second-div-width);
        img {
            right: 0;
        }
    }
}
