.projects {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    padding: var(--space-h) var(--space-giga);

    &.visible {
        h2 {
            animation: appearFromLeft 0.4s ease-out 0.3s forwards;
        }
    }

    h2 {
        opacity: 0;
        text-transform: uppercase;
        transform: translateX(-20px);
    }

    .online-projects-division {
        display: flex;
        gap: var(--space-xh);
        flex: 1;
        flex-direction: column;
        width: 100%;
    }
}
