.project-summary {
    &-data {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--space-xh);
        max-height: var(--project-content-height);
        padding: var(--space-xl);

        em {
            font-weight: 600;
        }
    }
    &-description {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
    }
}
