.intro {
    display: flex;
    justify-content: center;
    padding-left: 10vw;
    position: relative;

    &-title {
        display: flex;
        flex-direction: column;
        font-size: clamp(40px, 4vw, 90px);
        letter-spacing: var(--space-xs);
        line-height: 1;

        span {
            font-family: var(--title-font);
            white-space: nowrap;
        }

        &.visible {
            .developper-name {
                animation: appearFromLeft 0.35s ease-out 0.1s forwards,
                    backgroundTitleAnim 20s linear 0.45s alternate infinite;
            }
            .profession {
                animation: appearFromLeft 0.35s ease-out 0.3s forwards,
                    backgroundTitleAnim 17s linear 0.5s alternate-reverse infinite;
            }
        }

        &-container {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
        }
        .developper-name {
            background: linear-gradient(
                90deg,
                var(--clr-txt-onBg-05),
                var(--clr-txt-onBg-03),
                var(--clr-txt-onBg-07),
                var(--clr-txt-onBg-05),
                var(--clr-txt-onBg-08),
                var(--clr-txt-onBg-04),
                var(--clr-txt-onBg-07),
                var(--clr-txt-onBg-05)
            );
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-position: 0%;
            background-size: 1000%;
            font-weight: 900;
            opacity: 0;
            text-transform: uppercase;
            transform: translateX(-20%);
        }
        .profession {
            font-size: 0.7em;
            background: linear-gradient(
                90deg,
                var(--clr-txt-onBg-05),
                var(--clr-txt-onBg-03),
                var(--clr-txt-onBg-06),
                var(--clr-txt-onBg-04),
                var(--clr-txt-onBg-07),
                var(--clr-txt-onBg-03),
                var(--clr-txt-onBg-08),
                var(--clr-txt-onBg-05)
            );
            background-position: 90%;
            background-size: 1000%;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            transform: translateX(-20%);
            opacity: 0;
        }
    }

    .cv-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: var(--space-xl);
        padding-right: var(--space-xl);

        &.visible {
            a {
                opacity: 1;
                transform: translateX(0);
            }
        }

        a {
            background: linear-gradient(
                90deg,
                var(--clr-bg-secondary),
                var(--clr-bg-secondary-06),
                var(--clr-bg-secondary-08),
                var(--clr-bg-secondary-05),
                var(--clr-bg-secondary-09),
                var(--clr-bg-secondary),
                var(--clr-bg-secondary-07),
                var(--clr-bg-secondary)
            );
            background-position: 0%;
            background-size: 1000%;
            animation: backgroundTitleAnim 20s linear alternate infinite;
            border: var(--border-m) solid var(--clr-txt);
            border-radius: var(--radius-s);
            color: var(--clr-txt-onBg);
            cursor: pointer;
            font-size: clamp(1.2em, 1.8vw, 2em);
            font-weight: 900;
            letter-spacing: 1px;
            opacity: 0;
            padding: var(--space-l) var(--space-giga);
            text-transform: uppercase;
            transform: translateX(20%);
            transition: 0.4s;

            &:hover {
                background: unset;
                background-color: var(--clr-bg);
                color: var(--clr-txt)
            }
        }
    }
}
