.experience-card {
    background-color: var(--clr-bg);
    border-radius: var(--radius-m);
    box-shadow: var(--shadow-default) var(--clr-bg-secondary-03);
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    height: 100%;
    padding: var(--space-xl) var(--space-xh);
    width: 100%;

    &.empty {
        align-items: center;
        justify-content: center;
        min-height: 100% !important;

        p {
            font-family: --font-title;
            font-size: 24px;
        }
    }

    &__company {
        align-items: center;
        display: flex;
        font-size: 24px;
        gap: var(--space-l);

        &-logo {
            align-items: center;
            border-radius: 30px;
            display: flex;
            height: 50px;
            justify-content: center;
            overflow: hidden;
            position: relative;
            width: 50px;
        }
        img {
            position: absolute;
            height: 55px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
        flex: 1;
        overflow: hidden;
        padding: var(--space-m);
    }
    &__descriptions {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
        margin-bottom: var(--space-m);
        overflow-y: scroll;
        padding-inline: var(--space-giga);
        text-align: justify;
    }
    &__header {
        align-items: center;
        display: flex;
        font-weight: 700;
        justify-content: space-between;
        padding: var(--space-m) var(--space-xl);
        position: relative;

        &::after {
            background-color: var(--clr-bg-secondary);
            bottom: calc(0px - (var(--space-l)/2));
            content: "";
            position: absolute;
            height: var(--border-s);
            left: 10%;
            width: 80%;
        }
    }
}
