@font-face {
    font-family: "--font-default";
    src: local("Montserrat-Regular"),
        url("../assets/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: "--font-title";
    src: local("RockSalt-Regular"),
        url("../assets/fonts/RockSalt-Regular.ttf");
}

#portal {
    height: 100vh;
    padding-top: var(--header-height);
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#root {
    background-color: var(--clr-bg);
    display: flex;
    flex-direction: column;
    height: 100%;
}
