.carousel {
    display: flex;
    overflow: hidden;
    padding-block: 0;
    scroll-behavior: smooth;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &-wrapper {
        flex: 1;
        overflow: hidden;
        width: 100%;
    }
}
