.contact-form {
    --translate-x: -35px;
    --translate-y: -32px;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    width: 100%;

    > div {
        align-items: center;
        display: flex;
        position: relative;
        width: 60%;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) label {
                animation-delay: 0.54s + ($i * 0.07s) !important;
            }
        }

        label {
            left: var(--space-xh);
            opacity: 0;
            position: absolute;
            text-transform: uppercase;
            top: var(--space-xl);
            transform: translateY(-60%);
            transition: var(--transition-hover) ease-in-out;
            z-index: 1;
            &.fill {
                scale: 0.5;
                translate: var(--translate-x) var(--translate-y);
            }
        }
    }

    button {
        align-items: center;
        animation: backgroundTitleAnim 20s linear alternate infinite;
        background: linear-gradient(
            90deg,
            var(--clr-bg-secondary-03),
            var(--clr-bg-secondary),
            var(--clr-bg-secondary-02),
            var(--clr-bg-secondary),
            var(--clr-bg-secondary-05),
            var(--clr-bg-secondary),
            var(--clr-bg-secondary-02)
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-position: 0%;
        background-size: 1000%;
        cursor: pointer;
        display: flex;
        font-size: clamp(1.2em, 1.8vw, 2em);
        font-weight: 900;
        justify-content: center;
        padding: var(--space-m) var(--space-xl);
        text-transform: uppercase;
        width: 100%;

        &:hover {
            background: var(--clr-bg-secondary);
            background-clip: text;
        }
    }

    input,
    textarea {
        background-color: var(--clr-bg);
        border: var(--border-m) solid var(--clr-bg-secondary);
        border-radius: var(--radius-s);
        opacity: 0;
        padding: var(--space-xl) var(--space-xh);
        width: 100%;
        &:focus-within + label {
            scale: 0.5;
            translate: var(--translate-x) var(--translate-y);
        }
    }
    input {
        transform: translateX(20px);
    }
    textarea {
        height: 180px;
        resize: none;
        transform: translateX(-20px);
    }
}
