.modal {
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;

    &.opened {
        .modal {
            &-backdrop {
                opacity: 1;
                pointer-events: auto;
            }
            &-content {
                pointer-events: auto;
            }
        }
    }
    &.closed {
        .modal {
            &-backdrop {
                opacity: 0;
                pointer-events: none;
            }
            &-content {
                pointer-events: none;
            }
        }
    }

    &-backdrop {
        backdrop-filter: blur(var(--blur-modal));
        background-color: var(--clr-bg-01);
        height: 100%;
        position: absolute;
        transition: 0.3s ease-out;
        width: 100%;
    }

    &-content {
        display: flex;
        z-index: 2;
    }
}
