.section-experiences {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: unset;
    padding-block: var(--space-giga);

    &.visible {
        h2 {
            transform: translateX(0);
            opacity: 1;
        }
        > p {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .experiences-container {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        opacity: 0;
        padding-inline: var(--space-giga);
        transform: translateX(-20px);
        transition: 0.35s;
    }
    > p {
        font-family: --font-title;
        font-size: 18px;
        opacity: 0;
        transform: translateX(20px);
        transition: 0.3s ease-in-out;
    }
}
