@keyframes bounceSubtle {
  0% {
    transform: translateY(0);
  }
  23% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(2px);
  }
  58% {
    transform: translateY(-4px);
  }
  75% {
    transform: translateY(1px);
  }
  90% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
.details-container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    padding-inline: var(--space-giga);
    position: absolute;
    transition: 0.2s ease-in-out;
    width: 100%;

    &.visible {
        opacity: 1;
    }

    button {
        transform: scale(0);
        transition: 0.3s ease-in-out;
        &.visible {
            animation-delay: 0.3s !important;
            transform: scale(1);

            &:hover {
                transform: scale(1.1);
            }
            &:not(:hover) {
                animation: bounceSubtle 2.5s ease-in-out infinite;
            }
            * {
                opacity: 1;
            }
        }
    }
    a {
        background-color: var(--clr-bg);
        border-radius: var(--radius-m);
        color: var(--clr-txt);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-size: 26px;
        padding-block: var(--space-xl);
        padding-inline: var(--space-h);
        position: relative;
        transition: 0.2s ease-in-out;
        * {
            opacity: 0;
            transition: 0.2s;
        }
        h3 {
            align-items: center;
            display: flex;
            font-size: clamp(20px, 1.55vw, 40px);
            gap: var(--space-m);

            span {
                font-family: --font-title;
                transition-delay: 0.41s;
            }
        }
        ul {
            li {
                font-size: clamp(16px, 1.2vw, 32px);
            }
        }

        ul {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            font-size: .75em;
            gap: var(--space-m);
            padding-left: var(--space-xl);
        }
    }
}
