.carousel-item {
    cursor: pointer;
    flex: 0 0 33%;
    pointer-events: auto;
    position: relative;
    transition: opacity 0.3s ease-in-out;

    &.active {
        cursor: default;
    }

    &__content {
        flex: 1;
        position: relative;
        width: 100%;
        z-index: 0;
    }
    &__filter {
        backdrop-filter: blur(6px);
        border-radius: var(--radius-m);
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}
